.ProgressBarContainer {
  width: 80%;
  height: 45px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5vw;
}

.ProgressBar {
  max-width: 100%;
  border-radius: inherit;
  height: 100%;
  background: dodgerblue;
}
