div.container {
  display: flex;
  align-items: center;
  transform: translateX(-16vw);
}

.bar-bg {
  position: absolute;
  width: 30vw;
  height: 5vw;
  background: rgb(239, 239, 239);
  border-radius: 2vw;
  border: 0.5vw solid rgb(0, 120, 212);
}

.bar-fg {
  position: absolute;
  width: 10vw;
  height: 5vw;
  background: rgb(0, 120, 212);
  border-radius: 2vw;
}
